* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

/* Contenedor general */
.container {
  width: 90%;
  height: auto;
  margin: 0px auto;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 600px;
}

/* Header */
#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  height: 120px;
  border-bottom: 1px solid #f1f1f1;
}

/* Logo */
.logo {
  flex-grow: 1;
  flex-basis: 65%;

  font-family: Helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;

  padding: 10px;
  margin-left: 20px;
  color: black;
  text-shadow: 1px 1px 0px #ccc;
}

.logo h1 {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
}
/* Menu */
#menu {
  flex-grow: 1;
  flex-basis: 30%;
  height: 100%;
  padding-right: 28px;
}

#menu > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  list-style: none;
}

#menu ul li a {
  color: #444444;
  padding: 15px;
  transition: all 300ms;
}

#menu ul li a:hover {
  background-color: #ccc;
  color: white;
}

/* Contenido */
#content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

#projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 80%;
}

.project {
  flex-grow: 1;
  flex-basis: 250px;
  margin-bottom: 25px;
  margin-right: 20px;
  border: 1px solid #a3a3a3;
}

.project img {
  width: 100%;
}

.project-info {
  padding: 10px;
  display: block;
}

.project-info a {
  font-size: 16px;
  color: black;
  transition: all 300ms;
}

.project-info a:hover {
  font-style: oblique;
  font-weight: 100;
  color: #a3a3a3;
}

.project-info p {
  color: #808080;
}

#aside {
  flex-basis: 15%;
  margin-right: 30px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#aside h2 {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 100;
  color: #444;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  text-align: center;
}

#aside ul {
  list-style: none;
}

#aside ul li {
  padding: 5px;
}

#aside ul li a {
  display: block;
  padding: 20px;
  background-color: #eee;
  color: #444;
  text-align: center;
  text-transform: uppercase;
  transition: all 300ms;
}

#aside ul li a:hover {
  background-color: #444;
  color: white;
}

#footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  height: 120px;
  align-items: center;
  border-top: 1px solid rgba(225, 225, 226, 0.8);
}

#footer .logo {
  opacity: 0.5;
  flex-basis: auto;
  flex-grow: 1;

  text-transform: uppercase;
}

#footer .info {
  flex-grow: 1;
}

@media (max-width: 1510px) {
  #header {
    text-align: center;
  }
  #menu > ul {
    margin-top: 20px;
    align-items: start;
    justify-content: space-evenly;
  }
}

@media (max-width: 612px) {
  #header .logo {
    margin-right: 20px;
  }
  #menu {
    display: flex;
    flex-flow: column wrap;
    padding-right: 0px;
  }
  #menu > ul {
    justify-content: space-around;
  }

  #content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #aside {
    margin-right: 0px;
  }
  #aside ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  #aside ul li {
    flex-grow: 1;
    margin: 5px auto;
  }

  .project {
    margin-right: 10px;
    margin-left: 10px;
    flex-basis: 200px;
  }

  .project-info {
    text-align: center;
  }
}

@media (max-width: 460px) {
  #content {
    padding-top: 40px;
  }

  #footer .logo,
  #footer .info {
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
  }
}
