* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  /* width: 70%; */
  width: 100%;
  background: #dddddd;
  margin: 0px auto;
  margin-bottom: 40px;
}

.clearfix {
  float: none;
  clear: both;
}

header {
  width: 100%;
  height: 150px;
  background-color: blanchedalmond;
  color: #333;
  line-height: 150px;
  text-align: center;
}

aside {
  float: left;
  min-height: 700px;
  width: 25%;
  background-color: beige;
  text-align: center;
  line-height: 700px;
}

#articles {
  background-color: #ccc;
  float: left;
  min-height: 700px;
  width: 75%;
}

#articles article {
  width: 25%;
  height: 150px;
  text-align: center;
  background-color: azure;
  line-height: 130px;
  border: 2px solid #dadada;
  float: left;
  margin: 15px;
}

#footer {
  padding: 15px;
  text-align: center;
}

/* Responsive */

/* Desde ese ancho 0px hasta la 888px de pantalla */
@media (max-width: 888px) {
  /* Se ejecutan estilos */
  #articles article {
    width: 40%;
    background-color: black;
    color: white;
  }
}

@media (max-width: 632px) {
  /* Se ejecutan estilos */

  #container {
    overflow: hidden;
  }

  aside {
    float: none;
    min-height: auto;
    line-height: 20px;
    width: 91%;
    padding: 19px;
  }

  #articles {
    width: 100%;
  }

  #articles article {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.646);
    color: white;
  }
}

@media (max-width: 360px) {
  header {
    line-height: 50px;
  }
}
