body {
  background-image: url(fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: justify;
  text-indent: 15px;
  /* word-spacing: 5px;
  letter-spacing: 5px; */
}

#titulo {
  background-image: url(vector.jpg);
  padding: 10px;
}

#caja {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
  line-height: 25px;
  text-transform: uppercase;
}

h2 {
  color: yellowgreen;
}
