body {
  font-family: "Arial";
  text-align: center;
}

#layout {
  border: 3px solid black;
  padding: 5px;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  /* Alinear contenido */
  justify-content: space-around;
  height: 500px;
  align-items: center;
}

.caja {
  /* Aplica lo mismo a todas pero no se ajusta bien */
  /* width: 25%; */
  /* flex-basis: calc((100% / 3) - 68px); */
  font-size: 20px;
  /* height: 120px; */
  font-weight: bold;
  text-align: center;
  color: #333;
  padding: 20px;
  border: 4px solid #222;
  margin: 10px;
  background: gray;
  /* A cada caja: AJUSTA LOS ANCHOS AUTOMATICAMENTE */
  flex-grow: 1;
}

.primary {
  align-self: flex-start;
  background: bisque;
}
.secondary {
  align-self: center;
  background: beige;
}
.third {
  align-self: center;
  background: lightgoldenrodyellow;
}
.fourth {
  /* Width */
  /* flex-basis: 100%; */
  background: dimgray;
  align-self: flex-end;
}
