* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul li:first-child {
  list-style: none;
  font-size: 30px;
  color: purple;
}

ul li:nth-child(3) {
  color: darkviolet;
  font-size: 40px;
}

ul li:last-child {
  color: darkmagenta;
  font-size: 45px;
}

/**Cuando yo no he visitado en link*/
#enlace {
  font-size: 50px;
}

#enlace:link {
  color: rgb(175, 221, 252);
}

#enlace:visited {
  color: rgb(124, 124, 117);
}

#enlace:hover {
  color: blue;
}

input[type="text"] {
  margin-top: 50px;
  margin-left: 50px;
  padding: 15px;
  border: 1px solid #bfbfbf;
}
input[type="text"]:focus {
  border: 4px solid rgb(77, 77, 213);
}
