@media (max-width: 1250px) {
  .header__wrap {
    width: 90%;
    margin: 0px auto;
  }
  .wrap {
    width: 90%;
    margin: 0px auto;
  }
  .banner__wrap {
    width: 90%;
    margin: 0px auto;
  }

  #banner h1 {
    font-size: 40px;
    width: 100%;
    text-align: center;
  }

  .card {
    width: 17%;
    margin: 1.3%;
  }

  .card p {
    display: block;
    width: 90%;
    margin: 10px auto;
    text-align: center;
  }

  #articles {
    width: 60%;
  }

  #articles article {
    width: 97%;
  }

  #footer .wrap > div {
    width: 24%;
    margin: 4%;
  }

  #footer #browsers img {
    width: 15%;
  }

  #footer h5 {
    font-size: 30px;
  }

  #footer h5.sm {
    font-size: 12px;
  }
}

@media (max-width: 1080px) {
  .card .card__category {
    font-size: 17px;
  }

  .card .card__description {
    font-size: 14px;
  }

  #articles {
    width: 61%;
  }
  #articles article {
    width: 93%;
  }
}

@media (max-width: 970px) {
  #banner h1 {
    width: 100%;
  }

  #lateral {
    width: 95%;
    float: none;
    margin: 20px auto;
    min-height: auto;
  }

  #lateral input[type="text"] {
    width: 92%;
  }

  #articles {
    width: 100%;
  }

  #articles h2 {
    margin: 20px;
  }

  .wrap {
    width: 80%;
    margin-top: 20px;
  }

  #footer .wrap > div {
    width: 24%;
  }
}

@media (max-width: 915px) {
  #footer .wrap > div:nth-child(2) {
    display: none;
  }

  #footer .wrap > div {
    width: 42%;
  }
}

@media (max-width: 850px) {
  #lateral {
    width: 93%;
  }

  .card .card__description {
    font-size: 12px;
  }
}
@media (max-width: 710px) {
  #header {
    width: 100%;
    height: 120px;
    padding-top: 10px;
  }
  #header__menu {
    clear: both;
    float: none;
    margin: 0px auto;
    text-align: center;
  }

  #header__logo {
    width: 40%;
    margin: 0px auto;
    float: none;
  }
}

@media (max-width: 680px) {
  .card {
    height: auto;
  }

  .card .card__icon {
    font-size: 30px;
  }

  .card .card__icon:hover {
    font-size: 35px;
    transform: scale(1, 1);
  }

  .card .card__category {
    font-size: 12px;
  }
  .card .card__description {
    display: none;
  }

  #login #i-user,
  #login #i-pass {
    margin-left: 35px;
  }

  #login input[type="email"],
  #login input[type="password"] {
    padding-left: 35px;
  }

  #footer {
    height: auto;
    padding-bottom: 40px;
  }

  #footer .wrap > div:nth-child(2) {
    display: block;
  }

  #footer .wrap > div {
    margin-top: 20px;
    float: none;
    width: 100%;
    margin: 0 auto;
  }

  #footer img {
    margin-bottom: 15px;
    max-width: 100%;
  }
}

@media (max-width: 520px) {
  #header {
    height: 230px;
  }

  #header__menu {
    width: 100%;
    margin: 0px auto;
    text-align: center;
  }

  #header__menu ul li {
    width: 100%;
    line-height: 40px;
    margin: 0 auto;
    text-align: left;
  }

  #header__menu ul li a:hover {
    transform: scale(1, 1);
  }

  #header__logo {
    width: auto;
    margin: 0px auto;
    font-size: 20px;
  }

  #banner {
    height: auto;
  }
  #banner h1 {
    font-size: 30px;
  }

  #login #i-user,
  #login #i-pass {
    margin-left: 20px;
  }

  #login input[type="email"],
  #login input[type="password"] {
    padding-left: 35px;
  }

  #articles .data {
    float: none;
    margin: 0px auto;
    border-radius: 0px;
  }

  #articles article h4 {
    margin-top: 20px;
  }
}
