body {
  text-align: center;
}

/* ============ Primera parte =============== */

#website-area * {
  margin: 0px;
  padding: 0px;
}

#website-area {
  width: 75%;
  height: 1000px;
  margin: 0 auto;
  border: 1px solid #ccc;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 150px 70px 1fr 70px;
  grid-template-areas:
    "header    header    header    header    header"
    "menu      menu      menu      menu      menu"
    "container container container container sidebar"
    "footer    footer    footer    footer    footer";
  grid-gap: 5px;
}

#website-area #header {
  /* Para centrar el titulo */
  display: flex;
  justify-content: center;
  align-items: center;

  /* grid-column: 1 / 6; */
  background: bisque;
  color: black;

  /* Establecer el identificador del area */
  grid-area: header;
}

#website-area #menu {
  /* grid-column: 1 / 6; */
  background: black;

  grid-area: menu;
}

#website-area #menu ul {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  list-style: none;
}

#website-area #menu ul li a {
  color: white;
  text-decoration: none;
}

#website-area #container {
  grid-area: container;
  /* grid-column: 1 / 5; */
  background: #eee;

  /* Grid interno */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

#website-area #container article {
  background: #dadada;
  border: 1px solid #555;
}

#website-area #sidebar {
  grid-area: sidebar;
  /* grid-column: 5 / 6; */
  background: blanchedalmond;
}

#website-area #footer {
  grid-area: footer;
  /* grid-column: 1 / 6; */
  background: black;
  color: white;
}

/* ============ Segunda parte ============*/

#website * {
  margin: 0px;
  padding: 0px;
}

#website {
  width: 75%;
  height: 1000px;
  margin: 0 auto;
  border: 1px solid #ccc;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 150px 70px 1fr 70px;
}

#website #header {
  /* Para centrar el titulo */
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 1 / 6;
  background: bisque;
  color: black;
}

#website #menu {
  grid-column: 1 / 6;
  background: black;
}

#website #menu ul {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  list-style: none;
}

#website #menu ul li a {
  color: white;
  text-decoration: none;
}

#website #container {
  grid-column: 1 / 5;
  background: #eee;

  /* Grid interno */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

#website #container article {
  background: #dadada;
  border: 1px solid #555;
}

#website #sidebar {
  grid-column: 5 / 6;
  background: blanchedalmond;
}

#website #footer {
  grid-column: 1 / 6;
  background: black;
  color: white;
}

/* ================= Tercera parte    ============== */

.layout {
  width: 80%;
  margin: 0px auto;
  min-height: 400px;
  /* Definir el grid layout */
  display: grid;

  /* Definir las columnas */
  /* grid-template-columns: repeat(4, calc(25% - 10px)); */
  grid-template-columns: repeat(3, 1fr); /* repeat(4, 1fr); */

  /* grid-template-rows: 1fr 1fr 1fr; */
  /* grid-template-rows: 50% 10% 40%; */
  grid-template-rows: 1fr 2fr 1fr;

  /* Espacio entre elementos */
  grid-gap: 10px;

  border: 3px solid olive;
  padding: 10px;
}

.layout .caja {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 20px;
  border: 4px solid #222;
  background: gray;
}

.layout .blue {
  grid-column-start: 1;
  grid-column-end: 4;
  background: blue;
}
.layout .red {
  /* grid-row-start: 2;
  grid-row-end: 4; */
  grid-row: 2 / 5;
  background: red;
}
.layout .orange {
  grid-column: 2 / 4;
  background: orange;
}
.layout .clear {
  grid-column: 2 / 4;
  background: bisque;
}
.layout .pink {
  grid-column: 2 / 4;
  background: pink;
}
.layout .purple {
  /* Shortcut */

  grid-column: 1 / 4;

  /* grid-column-start: 1;
  grid-column-end: 3; */
  background: purple;
}
