#boton {
  display: block;
  padding: 20px;
  background-color: bisque;
  width: 210px;
  text-align: center;
  text-decoration: none;
  transition: border 3ms, background 5s, color 2s;
}

#boton:hover {
  border-radius: 15px;
  background-color: coral;
  color: white;
}
