/* 

*/

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.__global_container {
  /* max-width: 1200px; */
  margin: auto;
  /* margin-top: 50px; */
  /* border: 1px solid rgb(121, 119, 119); */
}

#header {
  width: 100%;
  text-align: center;
  font-weight: bold;
  height: 100px;
  background-color: rgba(255, 235, 205, 0.939);
  line-height: 80px;
  padding-top: 50px;
}

#menu {
  width: 100%;
  position: fixed;
  background-color: rgb(41, 41, 41);
  /* padding: 15px; */
}

.__wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#menu ul {
  list-style: none;
  overflow: hidden;
}

#menu ul li {
  text-decoration: none;
  /* display: inline-block; */
  display: block;
  float: left;
}

#menu ul li a {
  color: white;
  display: block;
  padding: 15px;
  text-decoration: none;
}

#menu ul li:hover {
  background-color: rgb(242, 198, 55);
  cursor: pointer;
}

#menu ul li:hover a {
  color: white;
}

.__clearfix {
  clear: left;
}

#sidebar {
  float: left;
  /* border: 1px solid #eeeeee; */
  background-color: #eeeeee;
  width: 30%;
}

#sidebar p {
  padding: 15px;
  text-align: center;
}

.__weather {
  width: 80%;
  height: 200px;
  margin: 2rem 3rem;
  background-color: khaki;
  border-radius: 15px;
  overflow: hidden;
}

.__weather:nth-child(3) {
  border-radius: 100%;
}

.__main_container {
  width: 70%;
  float: left;
  background-color: azure;
  overflow: hidden;
  /* border: 1px solid #eeeeee; */
}
.__main_container > h1 {
  padding: 15px;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(206, 200, 200);
}

.__news {
  width: 40%;
  height: 250px;
  background-color: beige;
  margin: 2rem 2.5rem;
  float: left;
  text-align: center;
  line-height: 200px;
  box-shadow: 5px 5px 15px rgba(250, 206, 29, 0.878);
}

.shadow-inner {
  box-shadow: 5px 5px 15px rgba(250, 206, 29, 0.878) inset !important;
}

article {
  width: 100%;
  background-color: bisque;
  margin: auto;
  padding: 20px;
}

.__footer {
  width: 100%;
  background-color: black;
  color: white;
  display: block;
  height: 50px;
  text-align: center;
}

.__footer p {
  padding: 10px;
}

.__box-free {
  background-color: coral;
  padding: 5px;
  width: 50px;
  position: absolute;
  bottom: 0px;
  right: 20px;
}

.b1 {
  background-color: beige;
  z-index: 2;
}

.b2 {
  bottom: 0px;
  right: 70px;
  z-index: 5;
}
