/**
  ### Selectores ###
*/

/*### Universal ###**/

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
}

/** Selector de Etiqueta*/
h1 {
  padding: 10px;
  background-color: red;
  color: white;
}

a {
  font-size: 18px;
  color: green;
  text-decoration: none;
}

footer a {
  color: red;
}
/** Selector de Id */
#descripcion,
#titulo {
  border: 5px solid black;
  padding: 15px;
}

/* Predomina el estilo del ultimo selector */
#titulo {
  background-color: blue;
  border: 2px dashed white;
}
/** Selector de clase */
.parrafo {
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
  margin: 15px;
}

.pa-1 {
  color: blueviolet;
}

.pa-2 {
  color: cornflowerblue;
  text-decoration: dotted;
}
/** Selector de atributo */
#usuario form {
  border: 5px solid blue;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
}

#usuario form * {
  display: block;
}

input[type="text"] {
  margin-bottom: 15px;
  padding: 5px;
  width: 200px;
}

input[type="submit"] {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 150px;
}

/* Selectores hijo */
#menu > li > a {
  color: red;
}

/* Prioridad */
#saludo h1 {
  background-color: black !important;
  margin-top: 50px;
}

h1 {
  background-color: chocolate !important;
}
