//Declaración de variables

$fuente: 'Arial';
$color-letra : black;
$color-fondo : #ccc;
// Uso de variables
body {
    background-color: #ccc;
}

h1{
    background-color : antiquewhite;
    color : $color-letra;
    text-align: center;
}
//Anidación
.caja {

    border: 1px solid black;
    width: 500px;
    margin: 0px auto;
    text-align: center;
    background-color: white;

    h1 {
        color: blue;
        font-size: 40px;
    }

    p {
        color: green;
    }

    .info p {
        color: orange;
    }

    .info {
        .autor {
            font-size: 50px;
        }
    }
}

//Mixins / Funciones

@mixin crearBorder($color, $size, $shadow) {
    border: 5px solid $color;
    border-radius: 10px;
    box-shadow: 0px 0px $size $shadow;
}

.caja {
    @include crearBorder(red, 10px, black);
}

.listado {
    @include crearBorder(blue, 20px, black);
    clear: both;
}


// Herencia

%alert-normal {
    background-color: #eee;
    color: gray;
    padding: 10px;
    border: 1px solid #333;
    width: 80%;
    margin: 20px auto;
}

.alert {
    @extend %alert-normal;
}

.alert-danger {
    @extend %alert-normal;
    color: red;
    border: 1px solid red;

}

.alert-sucess {
    @extend %alert-normal;
    color: green;
    border: 1px solid green;

}

// Operadores

h1 {
    font-size: 20px + 5px;
}

.clearfix {
    clear: both;
}

$caja-size : 200px;
$wrap: 900px;

.cajas {
    width: $wrap;
    clear: both;
    margin: 0px auto;
}

.caja {
    float: left;
    margin: 10px;
    width:  $caja-size / $wrap * 100%;
}

// Condicionales

h1 {
   @if $color-fondo == #ccc {
        color: rgb(177, 18, 18);
    } @else if $color-fondo == black{
        color: white;
    } 

    @else {
        color: lemonchiffon;
    } 
}


// FOR

@for $contador from 1 through 8 {
    .listado ul li:nth-child(#{$contador}){
        list-style: none;
        color: orange;
        font-size: $contador * 15px;
    }
}

// EACH

// WHILE