h1 {
  text-decoration: underline;
}

body {
  background-color: #ccc;
}

h1 {
  background-color: antiquewhite;
  color: black;
  text-align: center;
}

.caja {
  border: 1px solid black;
  width: 500px;
  margin: 0px auto;
  text-align: center;
  background-color: white;
}
.caja h1 {
  color: blue;
  font-size: 40px;
}
.caja p {
  color: green;
}
.caja .info p {
  color: orange;
}
.caja .info .autor {
  font-size: 50px;
}

.caja {
  border: 5px solid red;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

.listado {
  border: 5px solid blue;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  clear: both;
}

.alert-sucess, .alert-danger, .alert {
  background-color: #eee;
  color: gray;
  padding: 10px;
  border: 1px solid #333;
  width: 80%;
  margin: 20px auto;
}

.alert-danger {
  color: red;
  border: 1px solid red;
}

.alert-sucess {
  color: green;
  border: 1px solid green;
}

h1 {
  font-size: 25px;
}

.clearfix {
  clear: both;
}

.cajas {
  width: 900px;
  clear: both;
  margin: 0px auto;
}

.caja {
  float: left;
  margin: 10px;
  width: 22.2222222222%;
}

h1 {
  color: #b11212;
}

.listado ul li:nth-child(1) {
  list-style: none;
  color: orange;
  font-size: 15px;
}

.listado ul li:nth-child(2) {
  list-style: none;
  color: orange;
  font-size: 30px;
}

.listado ul li:nth-child(3) {
  list-style: none;
  color: orange;
  font-size: 45px;
}

.listado ul li:nth-child(4) {
  list-style: none;
  color: orange;
  font-size: 60px;
}

.listado ul li:nth-child(5) {
  list-style: none;
  color: orange;
  font-size: 75px;
}

.listado ul li:nth-child(6) {
  list-style: none;
  color: orange;
  font-size: 90px;
}

.listado ul li:nth-child(7) {
  list-style: none;
  color: orange;
  font-size: 105px;
}

.listado ul li:nth-child(8) {
  list-style: none;
  color: orange;
  font-size: 120px;
}

/*# sourceMappingURL=estilos.css.map */
