@bgcolor : lightblue;
@fuente : Arial;
@b: body;

@{b} {
    background: @bgcolor;
}

h1 {
    font-family: @fuente;
}

//Anidación

.info {
    ul {
        a {
            color: green;
            text-decoration: none;
            font-size: 18px;
        }
    }
}

//Mixins

.sombras(@color){
    box-shadow : 1px 1px 10px @color;
}

.info {
    .sombras(blue);
}

//Operadores

h1 {
    font-size: 30px + 7px;
}

//Mixins condicionales

.txtNegro(@value) when (@value=true) {
    color: purple;
}

h1 {
    color: blueviolet;
    .txtNegro(true);
}

//Bucles

.loop(@cont) when (@cont > 0) {
    .loop((@cont - 1 ));
    height: ((900px / @cont));
}

.info {
    height: 900px;
    .loop(5);
}