body {
  background: lightblue;
}
h1 {
  font-family: Arial;
}
.info ul a {
  color: green;
  text-decoration: none;
  font-size: 18px;
}
.info {
  box-shadow: 1px 1px 10px blue;
}
h1 {
  font-size: 37px;
}
h1 {
  color: blueviolet;
  color: purple;
}
.info {
  height: 900px;
  height: 450px;
  height: 300px;
  height: 225px;
  height: 180px;
}
