@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@font-face {
  font-family: Advent Pro;
  src: url(fuente/AdventPro-Bold.ttf);
}

body {
  background-color: blue;
}

h1 {
  font-family: Advent Pro, sans-serif;
  font-style: italic;

  /* Colores del sistema */
  color: magenta;
  /* Colores hexadecimales */
  color: #4abcbc;
  /* Color RGB */
  color: rgb(255, 255, 0);
  /* Color RGBA */

  color: rgba(153, 216, 216, 0.85);
}

h3 {
  font-family: "Comic Sans MS";
  font-weight: lighter;
}

p {
  font-family: "Roboto";
  font-weight: 200;
  color: azure;
}
