* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

/* Contenedor general */
.container {
  width: 90%;
  height: auto;
  margin: 0px auto;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 600px;
}

/* Header */
#header {
  display: grid;
  grid-template-columns: 68% 30%;
  align-items: center;

  height: 120px;
  border-bottom: 1px solid #f1f1f1;
  width: 100%;
}

/* Logo */
.logo {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;

  padding: 10px;
  margin-left: 20px;
  color: black;
  text-shadow: 1px 1px 0px #ccc;
}

.logo h1 {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
}
/* Menu */
#menu {
  height: 100%;
  padding-right: 28px;
}

#menu > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  list-style: none;
  text-align: center;
}

#menu ul li a {
  color: #444444;
  padding: 15px;
  transition: all 300ms;
}

#menu ul li a:hover {
  background-color: #ccc;
  color: white;
}

/* Contenido */
#content {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: start;
  justify-items: space-between;
  grid-column-gap: 7px;

  padding-top: 20px;
  padding-bottom: 20px;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 20px;
}

.project {
  margin-bottom: 25px;
  margin-right: 20px;
  border: 1px solid #a3a3a3;
}

.project img {
  width: 100%;
}

.project-info {
  padding: 10px;
  display: block;
}

.project-info a {
  font-size: 16px;
  color: black;
  transition: all 300ms;
}

.project-info a:hover {
  font-style: oblique;
  font-weight: 100;
  color: #a3a3a3;
}

.project-info p {
  color: #808080;
}

#aside {
  margin-right: 30px;
  padding: 15px;
}

#aside h2 {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 100;
  color: #444;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  text-align: center;
}

#aside ul {
  list-style: none;
}

#aside ul li {
  padding: 5px;
}

#aside ul li a {
  display: block;
  padding: 20px;
  background-color: #eee;
  color: #444;
  text-align: center;
  text-transform: uppercase;
  transition: all 300ms;
}

#aside ul li a:hover {
  background-color: #444;
  color: white;
}

#footer {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  justify-content: start;

  height: 120px;
  border-top: 1px solid rgba(225, 225, 226, 0.8);
}

#footer .logo {
  opacity: 0.5;

  text-transform: uppercase;
}

/* #footer .info {
} */

@media (max-width: 784px) {
  /* Header */
  #header {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    height: 140px;
    padding: 10px 0px;
  }
  #header h1 {
    text-align: center;
  }

  #aside {
    margin-right: 0px;
  }

  #aside ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  /* Contenido */
  #content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: space-between;
    grid-column-gap: auto;
  }

  #projects {
    display: grid;
    grid-template-columns: 1fr;
  }

  .project {
    margin: 20px;
  }

  #footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #footer .logo,
  #footer .info {
    margin: 0px 20px;
  }
}
